* {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;

 }
body {
  background-image:url(bg.jpg);
  background-size: cover;
}
main {
  width: 1020px;
  margin:auto;
  /*background-color: #FFFFFF;*/
}
header {
  background-color: black;
  height: 320px;
}
nav {
  color:#fff;
  margin-left: 180px;
  font-family: "Josefin Sans";
  font-size: 14px;
  height: 60px;
  font-weight: bold;

}
#jaune {
  color:#cfa205;
}
.menu {
  list-style-type: none;
}
.menu li {
  float:left;
  margin: 20px;
}
header h1 {
  color:#cfa205;
  font-size: 133px;
  text-align: center;
  font-family: "Josefin Sans";
  margin:0px;
  margin-top: 30px;
  font-weight: lighter;

}
header h2 {
  color:#cfa205;
  font-size: 14px;
  text-align: center;
  font-family: "Josefin Sans";
  margin-right: 45px;
  font-weight: bolder;
}

.icones {
  background-color: #e8e8e8;
  width: 1020px;
  margin: 0px;
  /*padding: 20px;*/
  height:60px;
  padding-left: 380px;

}
.icones ul {
  height: 50px;

}
.icones li {
  list-style-type: none;
  float:left;
  margin: 10px;

}
.icones li a {
  color:#9A9A9A;
  font-size: 12px;

}
.intro {
  background-color: #fff;
  padding: 20px;

}
p {
  padding-top: 30px;
  color: #777170;
  text-align: center;
  font-family: "Bitter";
  font-size: 14px;
  margin-left:60px;
  width: 900px;
  height: 90px;
  font-weight: bold;
}
a {
  text-decoration: none;
}
hr {
  color: lightgrey;
  margin: 20px;
}
.articles {
  background-color: #fff;
  float:left;
  margin:0;
  padding: 50px;
  width: 1020px;

}
article {
  width: 33%;
  float:left;


}
div {
  width: 900px;
  height: 675px;
  margin-left:20px;
}
article img {
  width: 260px;
  height: 195px;
  margin-left: 9px;

}
article p {
  width: 260px;
  height: 480px;
  margin:auto;
  text-align: left;
  font-weight: lighter;

}
h2 {
  text-align: left;
  padding: 30px;
  font-size: 18px;
  color: #2B3943;
  font-family: "Bitter"
}
